table, th, td {
   text-align: center;
   font-size: 35px;
}

ul{
	font-size: 25px;
}

body{
	background: rgb(238, 238, 238);
}	

.container {
	width: 100%;
}

@media(min-width:1080px){
	body{
		width: 1920px;
		height: 1080px;
		background: rgb(238, 238, 238);
		overflow: hidden;
	}	
}



.cards-carousel {
	width: 1875px;
    height: 500px;
    margin: 0 auto;
}

/* Kodi */
.general-card {
	height:375px;
	overflow:hidden;
	text-align: left;
	
}

@media (max-width: 1080px) {
	.general-card {
		width: 400px;
	}
}

.kodi-content{
	padding:15px;
}
.kodi-title{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: bold;
	font-size: 30px;
}
.kodi-ts{
	font-size: 25px;
	color: #777;
}
.kodi-plot{
	text-overflow: ellipsis;
	overflow: hidden;
	font-size:25px;
}

.clock{
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color:white;
    font-size: 30px;
	background: rgba(10,10,10,.6);
}


.center-card{
	text-align: center;
}

/* Weather */
.weather-card{		
}
.weather-icon{
	height: 50px;
}

/* Forecast */
.forecast-card{
	width: 170px;

}

.football-card{
	align-items: center;
}

.football-card-image{
	height:100%;
}

.football-card-header {
	background: #364C88;
	color: white;
	height: 82px;
	text-align: center;
	font-size: 3em;
}

.football-card-header-icon {
	padding:10px;
}
.football-card-footer {
	text-align: center;
	font-size: 4em;
	padding:30px;	
}

.calendar-card-header {
	background: #364C88;
	color: white;
	height: 82px;
	font-size: 2em;
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.calendar-card-header-icon {
	padding:10px;
}

.calendar-card-footer {
	text-align: center;
	font-size: 3em;
	padding:10px;	
}

.forecastio {
	position:relative;
}

.forecastio  li {
	height: 360px;
	overflow:hidden;
}


.forecastio-summary {
	max-height: 150px;
	overflow: hidden;
}



.cards-carousel {
    position:relative;
}

.cards-carousel ul li {
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
}

    