table, th, td {
   text-align: center;
   font-size: 35px;
}

ul{
	font-size: 25px;
}

body{
	background: rgb(238, 238, 238);
}	



@media (min-width: @screen-lg-min) {
	body{
		width: 1920px;
		height: 1080px;
		background: rgb(238, 238, 238);
		overflow: hidden;
	}	
}


/* Kodi */
.kodi-card{
	height:375px;
	overflow:hidden;
	text-align: left; 
}
.kodi-content{
	padding:15px;
}
.kodi-title{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: bold;
	font-size: 30px;
}
.kodi-ts{
	font-size: 25px;
	color: #777;
}
.kodi-plot{
	text-overflow: ellipsis;
	overflow: hidden;
	font-size:25px;
}

.clock{
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color:white;
    font-size: 30px;
	background: rgba(10,10,10,.6);
}


.center-card{
	text-align: center;
}

/* Weather */
.weather-card{		
}
.weather-icon{
	height: 50px;
}

/* Forecast */
.forecast-card{
	width: 170px;	
}

.football-card{

}

.football-card-header {
	background: #364C88;
	color: white;
	height: 82px;
	text-align: center;
	font-size: 3.5em;
}
.football-card-footer {
	margin-top: 50px;
}

h5{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}