<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title>Home Automation</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Bootstrap js -->
    <script src="./src/js/jquery-2.1.4.min.js"></script>
    <script src="./src/js/angular.min.js"></script>
    <script src="./src/js/angular-sanitize.js"></script>
    <script src="./src/js/materialize.min.js"></script>
    <!--Ctrls -->
    <script src="src/Kiosk.js"></script>
    <script src="src/controllers/traktCtrl.js"></script>
    <!-- Bootstrap style sheets -->
    <link rel="stylesheet" href="./src/css/bootstrap.min.css">
    <link rel="stylesheet" href="./src/css/materialize.min.css">
    <link rel="stylesheet" href="./src/style.css">
</head>



<body layout="column">
    <div class="container">
        <div class="row" ng-controller="traktCtrl">
            <div class="col-xs-12">
                <div class="card">
                    <div class="calendar-card-header">
                        <img src="https://trakt.tv/assets/logos/header@2x-4d604ad76f87e156c5ad2fa7358fcf17.png" height="96px" class="football-card-header-icon" />
                    </div>
                    <div class="col-md-12 calendar-card-footer">
                        Connect to Trakt.tv so the app can get your recently recorded tv shows.
                        <br/>

                        <a href="{{setup_url}}" target="_blank">Click here to get pin</a>

                        <br/>

                        <form name="pinForm">
                            <label>Enter Pin:
                                <input name="input" ng-model="pin" required ng-trim="false">
                            </label>
                            <input type="submit" ng-click="update(pin)" value="Submit" />
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>