<div ng-repeat="episode in episodes" >

  	<div ng-switch on="episode.kind">
		<div ng-switch-when="calendar#event">
	        <div class="col-md-4">
		  		<div style="height: 220px;color:{{episode.textColor}}; overflow:hidden;text-align: left; padding: 10px; background:{{episode.background}};" class="card-panel">	
		  		<img class="img-responsive" src="{{episode.icon}}" style="margin:10px" width="75" height="75" align="left"/>	
					<span>			
						<h3><strong>{{episode.summary}} is on {{episode.start.date}}</strong></h3>	
					</span>		
				</div>  		
		  	</div>
	    </div>
	    <div ng-switch-default>
	        
			<!-- code to render the regular card -->
	        <div class="col-md-4">
		  		<div style="height: 220px; overflow:hidden;text-align: left; padding: 10px;" class="card-panel">		
					<img class="img-responsive" src="{{episode.art['tvshow.poster']}}" style="margin:10px" width="88" height="128" align="left"/>
					<span>
						<h5><strong>{{episode.label}} - S{{episode.season}}E{{episode.episode}}</strong></h5>
						<span>Aired: {{episode.firstaired}}</span>
			  			<p>{{episode.plot}}</p>
					</span>		
				</div>  		
		  	</div>
	        
	    </div>
  	</div>

	
</div>
