<h1>Subway Status: </h1>
<div ng-repeat="line in mtaData[0].line">
      <h4>
      	<ul>
      			<li style="display:inline-block;margin: 0;padding: 0;" ng-repeat="subway in line.name">   
              <img src="http://www.mta.info/sites/all/themes/mta/images/subway_bullets/{{subway}}.png">      		
        		</li>      		
            : {{ line.status[0] }}

            <marquee direction="up" ng-if="line.text != ''">
              
              <!-- Line status if exists.-->
                <div ng-bind-html="line.text" style="height:100px"></div>  
              
            </marquee>
                             
    		</ul>      	       
  	  </h4>
</div>