  <div ng-repeat="line in mtaData[0].line" style="display:inline-block;margin: 5px; width:140px;" class="card">
        
              <div style="background-color:{{line.color}}; padding:10px;" class="card-image">
          			<li style="display:inline-block;margin:1px;" ng-repeat="subway in line.name">  
                  <b><font color="white" size="6">{{subway}}</font></b>
            		</li>
              </div>      		
              
              <div class="card-content">
                <img src="{{line.icon}}" height="75" width="75">
              </div>

  </div>

  <div class="card" ng-if="mtaData[0].status_text != ''" style="height:75px;">
          <!-- Line status if exists.-->
      <marquee style="overflow:" behavior="scroll" direction="up">  
        <div ng-bind-html="mtaData[0].status_text" ></div> 
      </marquee>          
     
  </div>