.card {
	background: #607D8B;
	color:#000;
}

.card-panel{
	background: #607D8B;
	color:#000;	
}

.kodi-ts{
	color:#B0BEC5;
}

body {
	background: #263238;
}

.kiosk-wrapper {
	background: #263238;	
}