<div ng-app="myApp" ng-controller="dataCtrl" class="text-center">
  
	<div class="card-panel">
		<img src="{{data.radar_imgs[0]}}" style="width:100%"/>

		<li style="padding:15px; list-style-type: none;">
			<h5>
			<ul style="display:inline-block;">{{data.location}}</ul>
			<ul style="display:inline-block;"><img src="{{data.img}}"/></ul>
			<ul style="display:inline-block;">{{data.currentTemp}}°</ul>
			<ul style="display:inline-block;">(Humidity:{{data.humidity}}%)</ul>			
			</h5>
		</li>
	</div>
	

	<div >
		<li style="display:inline-block;margin:15px;" ng-repeat="day in data.forecast" class="card-panel">
			<h5>
			<ul style="display:block;">
				{{day.day}}
			</ul>
			<hr/>
			<ul style="display:block;">
				<strong>{{day.high}}°</strong> <font color="#3F51B5">{{day.low}}°</font>
			</ul>
			</h5>
			<ul>      
	    		<img src="{{day.code}}"/>		    
	    	</ul>
		</li>
	</div>
</div>
