<div ng-controller="weatherCtrl" class="">
	<div class="card weather-card">
		<div class="card-image">
			<img src="{{radar_image}}" width="200px" height="505px" style="width:100%"/>
			<div ng-controller="ClockController" class="clock">
				<span my-current-time="format"></span>
			</div>
			
		</div>
		<div class="card-content" style="padding:0px;">
		<table>
			<tr>				
				<td><img class="weather-icon" src="assets/thermometer.png"/> {{data.currently.temperature}}°</td>
				<td><skycon icon="data.currently.icon" size="64"></skycon>{{data.currently.summary}}</td>
				<td><img class="weather-icon" src="assets/drop.png"/> {{data.currently.humidity}}%</td>
				
			<tr>			
			<tr>
				<td><img class="weather-icon" src="assets/sunrise.png"/> {{data.currently.sunriseTime}}</td>
				<td><img class="weather-icon"  src="assets/sunset.png"/>  {{data.currently.sunsetTime}}</td>
				<td><img height="48" src="assets/windy.png"/> {{data.currently.windSpeed}} mph</td>
			</tr>
		</table>					
		</div>
	</div>	 
</div>
