<div ng-app="myApp" ng-controller="dataCtrl" class="text-center">
	<span>Last updated: {{data.condition.date}}</span>

	<div class="card">
		<div class="card-image">
			<img src="{{radar_image}}" width="200" style="width:100%"/>
			<div ng-controller="ExampleController">
				<h5><span my-current-time="format" class="card-title"></span></h5>
			</div>
			
		</div>

		<div class="card-content" style="padding:0px;">
		<table>
			<tr>				
				<td><img height="24" src="http://www.icon100.com/up/3856/96/63-thermometer.png"/> {{data.condition.temp}}°</td>
				<td><img src="{{data.condition.code}}"/>{{data.condition.text}}</td>
				<td><img height="24" src="http://www.geekchamp.com/upload/symbolicons/other/1f4a7-drop.png"/> {{data.humidity}}%</td>
				
			<tr>			
			<tr>
				<td><img height="24" src="assets/sunrise.png"/> {{data.astronomy.sunrise}}</td>
				<td><img height="24" src="assets/sunset.png"/>  {{data.astronomy.sunset}}</td>
				<td><img height="48" src="https://cdn3.iconfinder.com/data/icons/weather-icons-8/512/weather-windy-64.png"/> {{data.wind.speed}} mph</td>
			</tr>
		</table>					
		</div>
	</div>
	 
	<div >
		<li style="display:inline-block;margin:5px;" ng-repeat="day in data.forecast" class="card-panel">
			
			<ul style="display:block;">
				<h5>{{day.day}}</h5>
			</ul>
			
			<hr/>
			
			<ul style="display:block;">
				<h6>			
					<strong>{{day.high}}°</strong> <font color="#3F51B5">{{day.low}}°</font>
				</h6>			
			</ul>

			<ul>      
	    		<img src="{{day.code}}"/>		    
	    	</ul>
		</li>
	</div>
</div>
